html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #555555;
    color: #fcfcfc;
    font-size: 2em;
}

header p {
    margin: 0;
}

header, main, footer {
    padding: 0.5rem 1rem;
}

footer {
    background-color: #555555;
    color: #fcfcfc;
    font-size: 0.75rem;
}


